<footer>
    <div class="container principal">
        <!-- Segunda parte del footer -->
        <div class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <p class="text-justify">Muchas gracias por visitar mi portafolio. Espero que hayas podido
                            conocerme mejor y evalúes si podemos trabajar juntos.</p>
                    </div>
                </div>
                <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="copyright-text">Copyright &copy; 2023, Ignacio Maiorino</p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <ul class="social-icons">
                            <li><a class="gmail" href="mailto:ignaciomaiorino50@gmail.com" target="_blank"><i
                                class="fa-regular fa-envelope"></i></a></li>
                            <li><a class="facebook" href="https://www.facebook.com/nacho.maiorino" target="_blank"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li><a class="instagram" href="https://www.instagram.com/nachomaiorino/" target="_blank"><i
                                        class="fa fa-instagram"></i></a></li>
                            <li><a class="git-hub" href="https://github.com/NachoM57" target="_blank"><i
                                        class="fa-brands fa-github"></i></a></li>
                            <li><a class="linkedin" href="https://www.linkedin.com/in/ignacio-maiorino-5b1167266/"
                                    target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>