
footer{
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  background: #adadad;
}

#contact{
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
  background: rgb(226, 226, 255);
  border-style:groove;
}
h1{
  text-align: center;
  font-family: impact;
}

figcaption{
  text-align: center;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-size: 20px;
}

#description {
  margin-left: 20px;
  margin-right: 400px;
  margin-top: 150px;
  margin-bottom: 20px;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	font-size: 15px;
  font-weight: 600;
  color: white;
}
.col-sm-6.text-right{
  padding-left: 40%;
}

.fa.fa-facebook.fa-fw{
  font-size: 32px; 
  color:#3b5998;
}

.fa.fa-instagram.fa-fw{
  font-size:32px; 
  color:#84147a;
}

.fa.fa-github.fa-fw{
  font-size:32px; 
  color:#2c2c2c;
}

.fa.fa-facebook.fa-fw:hover{
  font-size: 32px; 
  color:#0b58ff;
}
.fa.fa-instagram.fa-fw:hover{
  font-size:32px; 
  color:#ff2bed;
}
.fa.fa-github.fa-fw:hover{
  font-size:32px; 
  color:#858585;
}

