<footer>
    <div class="container">
        <div class="row">
            <h2>Contacto</h2>
        </div>
        <div class="row input-container" *ngFor="let Email of email">
            <div class="col-xs-12 col-md-6">
                <div class="styled-input wide">
                    <input type="text">
                    <label>{{Email.nombre}}</label>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="styled-input">
                    <input type="text">
                    <label>{{Email.email}}</label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="styled-input wide">
                    <textarea></textarea>
                    <label>{{Email.mensaje}}</label>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="btn-lrg submit-btn">Enviar mensaje</div>
            </div>
        </div>

        <!-- Segunda parte del footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <p class="text-justify">Muchas gracias por visitar mi portafolio, espero que me hayas podido
                            conocer mejor y evalues si podemos trabajar juntos.</p>
                    </div>
                </div>
                <hr>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="copyright-text">©Copyright Codeweb_ 2023. </p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <ul class="social-icons">
                            <li><a class="facebook" href="https://www.facebook.com/nacho.maiorino" target="_blank"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li><a class="instagram" href="https://www.instagram.com/nachomaiorino/" target="_blank"><i
                                        class="fa fa-instagram"></i></a></li>
                            <li><a class="git-hub" href="https://github.com/NachoM57" target="_blank"><i
                                        class="fa-brands fa-github"></i></a></li>
                            <li><a class="linkedin" href="https://www.linkedin.com/in/ignacio-maiorino-5b1167266/"
                                    target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</footer>