  <!--Habilidadesduras-->
   
  <section id="Habilidades duras" class="Habilidades duras">
    <h1 class="text-center mt-0">Habilidades Duras</h1>
    <hr class="divider" />
    <div class="container"></div>
   
    <div class="progress-circle-container">
    <div class="row">
      <div class="col-md-3">
    <h4>HTML5</h4> <div class="progress-circle progress-50">
      <span>50</span>
    </div>
      </div>
    <div class="col-md-3">
    <h4>CSS3</h4>
     <div class="progress-circle progress-35"><span>35</span>
    </div>  
    </div>
    <div class="col-md-3">
    <h4>JAVASCRIPT</h4> 
    <div class="progress-circle progress-3"><span>3</span>
    </div>
    </div>  
    <div class="col-md-3">
    <h4>PHOTOSHOP</h4> 
    <div class="progress-circle progress-40"><span>40</span>
    </div>
    </div>  
    </div>
    </div>
</section>
<!--fin habilidades duras-->
<br> <br> <br> <br>
