<!--Habilidadesduras-->

<section id="Habilidades duras" class="Habilidades duras">
  <h1 class="text-center mt-0">Habilidades Duras</h1>
  <hr class="divider" />
  <app-agregar-habilidad-d></app-agregar-habilidad-d>
  <div class="container"></div>

  <div class="progress-circle-container">
    <div class="row">
      <div class="col-md-3" *ngFor="let HabilidadesDuras of habilidadD">
        <i class="fa-solid fa-pencil fa-xl"*ngIf="this.router.url ==='/admin'" type="button" data-bs-toggle="modal" data-bs-target="#modal-12"></i>
        <i class="fa-solid fa-xmark fa-xl"*ngIf="this.router.url ==='/admin'" type="button" data-bs-toggle="modal" data-bs-target="#eliminar-11" (click)="borrar(HabilidadesDuras.id)"></i>

        <app-modal-habilidadesduras></app-modal-habilidadesduras>
        <h4>{{HabilidadesDuras.habilidad}}</h4>
        <div class="progress-circle progress-{{HabilidadesDuras.porcentaje}}"><span>{{HabilidadesDuras.porcentaje}}</span>
       </div>
      </div>
    </div>
  </div>
</section>
<!--fin habilidades duras-->
<br> <br> <br> <br> <br> <br>


