  .fa-brands.fa-facebook.fa-2xl,
  .fa-brands.fa-instagram.fa-2xl,
  .fa-brands.fa-github.fa-2xl,
  .fa-solid.fa-user-lock.fa-2xl{
      color: #000000;
  }
  
  .fa-brands.fa-facebook.fa-2xl:hover{
      color: #2300d0;
  }
  .fa-brands.fa-instagram.fa-2xl:hover{
      color: #ff00ffab;
  }
  
  .fa-brands.fa-github.fa-2xl:hover{
    color: #727272;
  }
  .fa-solid.fa-user-lock.fa-2xl:hover{
    color: #1408977e;
  }
 
  
  .list-group.list-group-horizontal{
      --bs-list-group-bg: transparent;
      --bs-list-group-border-width:transparent;
  }