  .fa-brands.fa-facebook.fa-2xl,
  .fa-brands.fa-instagram.fa-2xl,
  .fa-brands.fa-github.fa-2xl,
  .fa-solid.fa-user-lock.fa-2xl,
  .fa-solid.fa-arrow-right-from-bracket.fa-xl.p-2 {
    color: #000000;
  }

  .fa-brands.fa-facebook.fa-2xl:hover {
    color: #0000ff;
  }

  .fa-brands.fa-instagram.fa-2xl:hover {
    color: #d50adc;
  }

  .fa-brands.fa-github.fa-2xl:hover {
    color: #e1e1e1;
  }

  .fa-solid.fa-user-lock.fa-2xl:hover {
    color: #31a6ff;
  }

  .fa-solid.fa-arrow-right-from-bracket.fa-xl.p-2:hover {
    color: #31a6ff;
  }


  .list-group.list-group-horizontal {
    --bs-list-group-bg: transparent;
    --bs-list-group-border-width: transparent;
  }