/*  Feature Section css */
.feature-section.py-5{
margin-left: -80%;
}

.feature-item {
  height: 200px;
  box-shadow: 2.5px 4.33px 30px 0 rgba(0, 0, 0, 0.425);
  margin-left: 20%;
}
.left-img-sec {
  width: 50%;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
}
.left-test-sec {
  width: 60%;
  padding: 25px;
}

.left-img-sec img {
  height: 100%;
  width: auto !important;
  max-width: inherit;
  position: relative;
  left: -80px;
}

.fa-solid.fa-pencil.fa-xl{
  margin-left: 20%;
  padding: 5%;
}

.feature-section.py-5{
  display: flex;
  margin-right: 5%;
}

h4{
  color: rgb(13, 13, 139);
}

.fa-regular.fa-plus.fa-xl{
  margin-left: 60%;
}