 <!--Educacion-->
 <section id="educacion" class="educacion">
    <div class="col-6">
      <h1 class="text-center mt-0"> Educacion</h1>
      <hr class="divider" />
      <div class="container mt-5 mb-5">
        <div class="row">
          <div class="col-md-6 offset-md-3">
           
            <ul class="timeline">
             
              <li>
                <h3>Primario y Secundario</h3> 
                <p>Colegio Nuestra Señora Del Huerto 2009 - 2015.
                   Bachiller con orientación en Ciencias
                  Sociales y Humanidades.</p>
              </li>
              
              <li>
                <h3>Curso Argentina Programa, "Se Programar"</h3>
                 <p>2022</p>
               </li>
              
              <li>
               <h3>Curso Arbitraje Criptomonedas</h3>
                <p>2021 - 2022</p>
              </li>
            
            </ul>
          </div>
        </div>
      </div>
    </div>
    </section>
    <!--fin educacion-->
    <br> <br> <br> <br> <br> <br>
