<!--proyectos-->
<h1 class="text-center mt-0">Proyectos</h1>
<hr class="divider" />
<app-agregar-proyecto></app-agregar-proyecto>
<div class="container  d-flex justify-content-center">
  <div class="row">
    <div class="card" *ngFor="let Proyectos of proyec">
      <div class="face front">
        <img src="{{Proyectos.imagen}}" alt="">
        <h3>{{Proyectos.titulo}}</h3>
      </div>
      <div class="face back">
        <h3>{{Proyectos.titulo}}</h3>
        <p>{{Proyectos.descripcion}}</p>
        <div class="iconos">
          <i class="fa-solid fa-pencil fa-xl" *ngIf="isLogged" type="button"
          routerLink="/editProyecto/{{Proyectos.id}}"></i>
        <i class="fa-solid fa-xmark fa-xl" *ngIf="isLogged" type="button" (click)="borrar(Proyectos.id)"></i>
      </div>
        <div class="link">
          <a href="{{Proyectos.link}}" target="_blank">{{Proyectos.link}}</a>
      </div>
      </div>
    </div>
  </div>
</div>

<br> <br> <br>