<section id="Barra de Navegador">
  <!--barra de navegador-->
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">

        <img src="./assets/imagenes/banner-ok-argentina-programa.jpg" alt="" width="20%" height="">
      </a>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a href="https://www.instagram.com/nachomaiorino/" target="_blank"><i
              class="fa-brands fa-instagram fa-2xl" type=button></i></a></li>
        <li class="list-group-item"><a href="https://www.facebook.com/nacho.maiorino" target="_blank"><i
              class="fa-brands fa-facebook fa-2xl" type=button></i></a></li>
        <li class="list-group-item"><a href="https://github.com/NachoM57" target="_blank"><i
              class="fa-brands fa-github fa-2xl"></i></a></li>
        <!-- boton disparador modal -->
        <li class="list-group-item"><i class="fa-solid fa-user fa-2xl" type=button data-bs-toggle="modal"
            data-bs-target="#exampleModal"></i></li>
      </ul>
    </div>
  </nav>
</section>