<i class="fa-regular fa-plus fa-xl" type="button" data-bs-toggle="modal" data-bs-target="#modalnuevo1"
  *ngIf="isLogged"></i>
<!--Modal crear nuevo-->
<div class="modal" id="modalnuevo1" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Experiencia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiar()"></button>
      </div>
      <form [formGroup]="form" novalidate #f="ngForm" name="experienciaForm">
        <div class="modal-body" *ngIf="!enviado">
          <div class="form-group">
            <div class="mb-3">
              <label for="puesto" class="form-label">Puesto</label>
              <input class="form-control form-control-sm" name="puesto" formControlName="puesto" type="text"
                [(ngModel)]="experiencia.puesto">
            </div>
            <div class="mb-3">
              <label for="lugar" class="form-label">Lugar</label>
              <input class="form-control form-control-sm" name="lugar" formControlName="lugar" type="text"
                [(ngModel)]="experiencia.lugar">
            </div>
            <div class="mb-3">
              <div class="mb-3">
                <label for="inicio" class="form-label">Inicio</label>
                <input class="form-control form-control-sm" name="inicio" formControlName="inicio" type="text"
                  [(ngModel)]="experiencia.inicio">
              </div>
              <div class="mb-3">
                <label for="fin" class="form-label">Fin</label>
                <input class="form-control form-control-sm" name="fin" formControlName="fin" type="text"
                  [(ngModel)]="experiencia.fin">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" (click)="limpiar()">Limpiar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-primary" (click)="onCreate()">Enviar</button>
            </div>
          </div>
        </div>
      </form>