<!--Banner-->


<!--fin de banner-->



<div class="menu-wrap">
  <input type="checkbox" class="toggler">
  <div class="hamburger"><div></div></div>
  <div class="menu">
    <div>
      <div>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Merch</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<header class="showcase">
  <div class="col container showcase-inner">
    <h1>Bienvenido</h1>
    <p>Ignacio Maiorino - Desarrollador Web</p>
    <a href="http://Youtube.com/c/ZaidIrfanKhan" target="_blank" class="btnn">Contacteme!</a>
  </div>
</header>