<div class="container" *ngIf="habilidadD">
  <div class="row">
    <form (ngSubmit)="onEditar()" novalidate #f="ngForm" [formGroup]="form">
      <div class="mb-3">
        <div class="form group">
          <label for="habilidad" class="form-label">Habilidad</label>
          <input class="form-control form-control-sm" id="habilidad" type="text" formControlName="habilidad"
            [(ngModel)]="habilidadD.habilidad">
        </div>
      </div>
      <div class="mb-3">
        <div class="form group">
          <label for="porcentaje" class="form-label">Porcentaje</label>
          <input class="form-control form-control-sm" id="porcentaje" formControlName="porcentaje" type="text"
            [(ngModel)]="habilidadD.porcentaje">
        </div>
      </div>
      <button type="button" class="btn btn-secondary" (click)="volver($event)">Cerrar</button>
      <button type="submit" class="btn btn-primary" (click)="onEnviar($event)">Actualizar</button>
    </form>
  </div>
</div>