/*Sobremi*/

#sobremi {
  position: relative;

}

h4 {
  padding-left: 4%;
  font-style: italic;
  margin-top: 5%;
}


.blockabout {
  padding: 10px;
  background: transparent;
}

.blockabout-inner {
  padding: 70px;
  border: 2px solid #4e4e4e;
  font-size: large;
}

#perfil {
  position: absolute;
  left: 20px;
}

.col-6.mt-4 {
  position: absolute;
  right: 90px;
}

.fa-solid.fa-pencil.fa-xl {
  margin-left: 20%;
  padding: 5%;
}

.imagenperfil {
  border-radius: 20px;
  width: 70%;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.titulo {
  background: linear-gradient(90deg, #7cebff, rgb(67, 67, 255));
 border-radius: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#robot {
  display: block;
  margin: auto;
  height: 60px;
  filter: grayscale(100%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all .1s ease-in-out;
}

#robot:hover {
  filter: grayscale(0%);
}

.sbl {
  color: #667dc0;
}

.description-p.text-muted.pe-0.pe-lg-0{
  font-size: 18px;
}

