<!--sobre mi-->
<section id="about-section" class="pt-5 pb-5">
    <div class="container wrapabout">
        <div class="red"></div>
        <div class="row">
          <div class="col-lg-4 mt-5 mt-lg-0">
            <figure class="potoaboutwrap">
              <img src="./assets/imagenes/foto de perfil.jpg"class="rounded-circle w-75" alt="..." title="...">
              <br>
              <h3 class="nombre">Ignacio Maiorino</h3>
            </figure>
        </div>
        <div class="col-lg-2"></div>
            <div class="col-lg-6 align-items-center justify-content-left d-flex mb-5 mb-lg-0">
                <div class="blockabout">
                    <div class="blockabout-inner text-center text-sm-start">
                        <div class="title-big pb-3 mb-3">
                            <h3>Sobre Mí</h3>
                        </div>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quas optio reiciendis deleniti voluptatem facere sequi, quia, est sed dicta aliquid quidem facilis culpa iure perferendis? Dolor ad quia deserunt.
                        </p>
                        <p class="description-p text-muted pe-0 pe-lg-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quas optio reiciendis deleniti voluptatem facere.</p>
                    </div>
                </div>
            </div>
           </div>
    </div>
  </section>
  <!--fin sobre mi-->
      
     
  <br> <br> <br> <br> <br> <br><br> <br> 
