/*Sobremi*/

#sobremi {
    position: relative;
  }
  .nombre{
  padding-left: 10%;
  font-family:'Times New Roman', Times, serif;
  }


  .blockabout {
    padding: 10px;
    background: transparent;
  }
  
  .blockabout-inner {
    padding: 100px;
    border: 2px solid #0000ff;
    font-size: large;
  }
  #perfil{
  position:absolute;
  left: 20px;
  }
  
  .col-6.mt-4{
      position: absolute;
      right: 90px;
  }
  .fa-solid.fa-pencil.fa-xl{
    margin-left: 20%;
    padding: 5%;
  }
  
  .rounded-circle.w-75{
    box-shadow:0 0 10px rgba(0, 0, 0, 1);
  }
  .titulo{
    background: linear-gradient(90deg,#7cebff,rgb(67, 67, 255));
  }