<!--Experiencia laboral-->
<section id="Experiancia laboral" class="experiencia laboral">
  <div class="col-12">
    <h1 class="text-center mt-0">Experiencia Laboral</h1>
    <hr class="divider" />
    <app-agregar-experiencia></app-agregar-experiencia>
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-md-6 offset-md-3" *ngFor="let Experiencias of expe">
          <ul class="timeline">
            <i class="fa-solid fa-pencil fa-xl" *ngIf="this.router.url ==='/admin'" type="button"
              routerLink="/editExperiencia/{{Experiencias.id}}"></i>
            <i class="fa-solid fa-xmark fa-xl" *ngIf="this.router.url ==='/admin'" type="button"
              (click)="borrar(Experiencias.id)"></i>
            <li>
              <h3>{{Experiencias.puesto}}</h3>
              <p>{{Experiencias.lugar}}, {{Experiencias.inicio}} - {{Experiencias.fin}} </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Fin experiencia laboral-->
<div class="br1"><br> <br> <br></div>