<!--Experiencia laboral-->
<section id="Experiancia laboral" class="experiencia laboral">
  <div class="col-6">

    <h1 class="text-center mt-0"> Experiencia Laboral</h1>
  <div class="container mt-5 mb-5">
    <hr class="divider" />
    <div class="row">
      <div class="col-md-6 offset-md-3">
       
        <ul class="timeline">
         
          <li>
            <h3>Repositor de Mercaderia</h3> 
            <p>Supermercados "El Delfin", 2016 - 2017</p>
          </li>
          
          
          <li>
           <h3>Vendedor, Repartidor y Promotor</h3>
            <p>En Distribuidora de Arcor "Mario Chialvo
              srl", 2017 - 2022</p>
            </li>
          <li>Vendedor de alimentos y golosinas.
            Repartidor de mercadería en Bell Ville y
            alrededores.
            Promotor y repositor de productos.
            Armado y organización de pedidos en
            depósito.</li>
           
            <li>
              <h3>Programacion</h3>
              <p>Curso de programacion en Argentina Programa, 2022</p>
            </li>
         
         
            <li>
            <h3>Arbitraje de Criptomonedas</h3>
            <p>Compra y Venta de moneda Virtual, 2021 - 2022</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  
  
</div>
</section>

<!--Fin experiencia laboral-->
