<!--Experiencia laboral-->
<section id="Experiancia laboral" class="experiencia laboral">
  <div class="col-12">

    <h1 class="text-center mt-0">Experiencia Laboral</h1>
    <hr class="divider" />
    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-md-6 offset-md-3"*ngFor="let experiencia of experiencias" >
          <ul class="timeline">
            <i class="fa-solid fa-pencil fa-xl"*ngIf="this.router.url ==='/admin'" type="button" data-bs-toggle="modal" data-bs-target="#modal-5"></i>
            <i class="fa-solid fa-xmark fa-xl"*ngIf="this.router.url ==='/admin'" type="button" data-bs-toggle="modal" data-bs-target="#eliminar-4"></i>
            <app-modal-experiencialaboral></app-modal-experiencialaboral>
            <li>
              <h3>{{experiencia.puesto}}</h3>
              <p>{{experiencia.lugar}}, {{experiencia.inicio}} - {{experiencia.fin}} </p>
            </li>
          </ul>
       </div>
      </div>
    </div>
   </div>
</section>

<!--Fin experiencia laboral-->
<div class="br1"><br> <br> <br></div>