<div class="container" *ngIf="experiencias">
  <div class="row">
    <form (ngSubmit)="onEditar()" novalidate #f="ngForm" [formGroup]="form">
      <div class="mb-3">
        <div class="form group">
          <label for="puesto" class="form-label">Puesto</label>
          <input class="form-control form-control-sm" id="puesto" type="text" formControlName="puesto"
            [(ngModel)]="experiencias.puesto">
        </div>
      </div>
      <div class="mb-3">
        <div class="form group">
          <label for="lugar" class="form-label">Lugar</label>
          <input class="form-control form-control-sm" id="lugar" formControlName="lugar" type="text"
            [(ngModel)]="experiencias.lugar">
        </div>
      </div>
      <div class="mb-3">
        <div class="form group">
          <label for="inicio" class="form-label">Inicio</label>
          <input class="form-control form-control-sm" id="inicio" formControlName="inicio" type="text"
            [(ngModel)]="experiencias.inicio">
        </div>
      </div>
      <div class="mb-3">
        <div class="form group">
          <label for="fin" class="form-label">Fin</label>
          <input class="form-control form-control-sm" id="fin" formControlName="fin" type="text"
            [(ngModel)]="experiencias.fin">
        </div>
      </div>
      <button type="button" class="btn btn-secondary" (click)="volver($event)">Cerrar</button>
      <button type="submit" class="btn btn-primary" (click)="onEnviar($event)">Actualizar</button>
    </form>
  </div>
</div>