<div class="container" *ngIf="persona">
  <div class="row">
    <form (ngSubmit)="onEditar()" novalidate #f="ngForm" [formGroup]="form">
      <div class="mb-3">
        <div class="form group">
          <label for="imagenperfil" class="form-label">Imagen</label>
          <input class="form-control form-control-sm" id="imagenperfil" type="text" formControlName="imagenperfil"
            [(ngModel)]="persona.imagenperfil">
        </div>
      </div>
      <div class="mb-3">
        <div class="form group">
          <label for="nombre" class="form-label">Nombre</label>
          <input class="form-control form-control-sm" id="nombre" formControlName="nombre" type="text"
            [(ngModel)]="persona.nombre">
        </div>
      </div>
      <div class="mb-3">
        <div class="form group">
          <label for="apellido" class="form-label">Apellido</label>
          <input class="form-control form-control-sm" id="apellido" formControlName="apellido" type="text"
            [(ngModel)]="persona.apellido">
        </div>
      </div>
      <div class="mb-3">
        <div class="form group">
          <label for="descripcion" class="form-label">Descripcion</label>
          <input class="form-control form-control-sm" id="descripcion" formControlName="descripcion" type="text"
            [(ngModel)]="persona.descripcion">
        </div>
      </div>
      <button type="button" class="btn btn-secondary" (click)="volver($event)">Cerrar</button>
      <button type="submit" class="btn btn-primary" (click)="onEnviar($event)">Actualizar</button>
    </form>
  </div>
</div>