<div class="container" *ngIf="proyectos">
  <div class="row">
    <form (ngSubmit)="onEditar()" novalidate #f="ngForm" [formGroup]="form">
      <div class="mb-3">
        <div class="form group">
          <label for="imagen" class="form-label">Imagen</label>
          <input class="form-control form-control-sm" id="imagen" type="text" formControlName="imagen"
            [(ngModel)]="proyectos.imagen">
        </div>
      </div>
      <div class="mb-3">
        <div class="form group">
          <label for="titulo" class="form-label">Titulo</label>
          <input class="form-control form-control-sm" id="titulo" formControlName="titulo" type="text"
            [(ngModel)]="proyectos.titulo">
        </div>
      </div>
      <div class="mb-3">
        <div class="form group">
          <label for="link" class="form-label">URL</label>
          <input class="form-control form-control-sm" id="link" formControlName="link" type="text"
            [(ngModel)]="proyectos.link">
        </div>
      </div>
      <div class="mb-3">
        <div class="form group">
          <label for="descripcion" class="form-label">Descripcion</label>
          <input class="form-control form-control-sm" id="descripcion" formControlName="descripcion" type="text"
            [(ngModel)]="proyectos.descripcion">
        </div>
      </div>
      <div class="mb-3">
        <div class="form group">
          <label for="inicio" class="form-label">Inicio</label>
          <input class="form-control form-control-sm" id="inicio" formControlName="inicio" type="text"
            [(ngModel)]="proyectos.inicio">
        </div>
      </div>
      <div class="mb-3">
        <div class="form group">
          <label for="fin" class="form-label">Fin</label>
          <input class="form-control form-control-sm" id="fin" formControlName="fin" type="text"
            [(ngModel)]="proyectos.fin">
        </div>
      </div>
      <button type="button" class="btn btn-secondary" (click)="volver($event)">Cerrar</button>
      <button type="submit" class="btn btn-primary" (click)="onEnviar($event)">Actualizar</button>
    </form>
  </div>
</div>