<div class="container" *ngIf="estudios">
  <div class="row">
    <form (ngSubmit)="onEditar()" novalidate #f="ngForm" [formGroup]="form">
      <div class="mb-3">
        <div class="form group">
          <label for="estudio" class="form-label">Estudio</label>
          <input class="form-control form-control-sm" id="estudio" type="text" formControlName="estudio"
            [(ngModel)]="estudios.estudio">
        </div>
      </div>
      <div class="mb-3">
        <div class="form group">
          <label for="lugar" class="form-label">Lugar</label>
          <input class="form-control form-control-sm" id="lugar" formControlName="lugar" type="text"
            [(ngModel)]="estudios.lugar">
        </div>
      </div>
      <div class="mb-3">
        <div class="form group">
          <label for="descripcion" class="form-label">Descripcion</label>
          <input class="form-control form-control-sm" id="descripcion" formControlName="descripcion" type="text"
            [(ngModel)]="estudios.descripcion">
        </div>
      </div>
      <div class="mb-3">
        <div class="form group">
          <label for="inicio" class="form-label">Inicio</label>
          <input class="form-control form-control-sm" id="inicio" formControlName="inicio" type="text"
            [(ngModel)]="estudios.inicio">
        </div>
      </div>
      <div class="mb-3">
        <div class="form group">
          <label for="fin" class="form-label">Fin</label>
          <input class="form-control form-control-sm" id="fin" formControlName="fin" type="text"
            [(ngModel)]="estudios.fin">
        </div>
      </div>
      <button type="button" class="btn btn-secondary" (click)="volver($event)">Cerrar</button>
      <button type="submit" class="btn btn-primary" (click)="onEnviar($event)">Actualizar</button>
    </form>
  </div>
</div>