body{
    background-color: rgb(246, 248, 255);
    overflow-x: hidden;
    margin: 0;
    font-family: 'Lato', sans-serif
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: .8;
    font-family: 'Montserrat', sans-serif
}

*{
    box-sizing:border-box;
}
 
h4,h3, h2{
    font-family: 'Montserrat', sans-serif;
    font-style:italic;
}

h1{
    color: rgb(69, 159, 238);
}


.fa-regular.fa-plus.fa-xl,
 .fa-solid.fa-pencil.fa-xl, 
 .fa-solid.fa-xmark.fa-xl{
    color: rgb(0, 0, 0);
}

.fa-regular.fa-plus.fa-xl:hover{
color: rgb(205, 215, 23);
}
 .fa-solid.fa-pencil.fa-xl:hover{
color: rgb(205, 215, 23);
 }
 .fa-solid.fa-xmark.fa-xl:hover{
    color: rgb(205, 215, 23);
}


